@font-face {
  font-family: 'Sahel';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/Sahel-FD.eot');
  src: url('Fonts/Sahel-FD.eot?#iefix') format('embedded-opentype'),
     url('Fonts/Sahel-FD.woff2') format('woff2'),
     url('Fonts/Sahel-FD.woff') format('woff'),
     url('Fonts/Sahel-FD.ttf') format('truetype');
     }
