$primary: #f0f4f9;
$secondary: #37a398;
$accent: #b02757;

$dark: #302828;
$dark-page: #303030;

$positive: #36dd5d;
$negative: #e85858;
$info: #1A69A3;
$warning: #facf5a;

$typography-font-family: "Sahel" !important !default;
